[submodule "embed-proplet/modules/wamr/wasm-micro-runtime"]
	path = embed-proplet/modules/wamr/wasm-micro-runtime
	url = https://github.com/bytecodealliance/wasm-micro-runtime.git
[submodule "examples/sample-wasi-http-rust"]
	path = examples/sample-wasi-http-rust
	url = git@github.com:bytecodealliance/sample-wasi-http-rust.git
