# Propellerd Build
build
config.toml

# Zephyr
embed-proplet/.cache
embed-proplet/.west
embed-proplet/bootloader
embed-proplet/modules
embed-proplet/tools
embed-proplet/zephyr

# Docker Registry
docker/registry/registry.password
docker/registry/data
